# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# macOS Thumbnails
Icon?

# macOS Directory metadata
.Spotlight-V100
.Trashes
.fseventsd

# Scrivener project files
*/Files/binder.autosave
*/Files/binder.backup
*/Files/search.indexes
*/Files/user.lock
*/Files/Docs/docs.checksum
*/Files/Data/docs.checksum
*/QuickLook/
*/Settings/ui.plist
